spring:
  application:
    name: account-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      username: configadmin
      password: admin123
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always